<div class="container-fluid"> 
    <div class="row">
        <div class="col-2">
            <h1>Test groups</h1>
            <selectable-list [names]="groupNames" [chosenName]="chosenGroup?.name" (chosenNameChange)="chooseTestGroupEvent($event)"></selectable-list>
            <p><add-testgroup></add-testgroup></p>

            <h1>Test Runs:</h1>
            <selectable-list [names]="testRunNames" [chosenName]="chosenRun?.name" (chosenNameChange)="chooseTestRunEvent($event)"></selectable-list>
            <p><add-testrun [testGroup]="chosenGroup"></add-testrun></p>
        </div>

        <div *ngIf="chosenRun" class="col-6">
            <test-run [testRun]="chosenRun"></test-run>
        </div> 
                
         <div *ngIf="chosenTestCase" class="col-4">
            <test-case [testCase]="chosenTestCase"></test-case>
        </div>
    </div>
</div>

{{do}}
    
    