<div class="container-fluid"> 
    <div class="row">

        <div class="col-2">
            <h1>Groups:</h1>
            <div *ngIf="groups && groups.length > 0;else noGroups">
                <p *ngFor="let group of groups" (click)="setGroup(group)" [ngClass]="{'highlighted': group.id == chosenGroup.id }">{{group.name}}</p>                      
            </div>

            <ng-template #noGroups>
                You have no groups!
            </ng-template>

            <p>
                <add-testgroup></add-testgroup>                
            </p>

            <h1>Runs:</h1>
            <div *ngIf="chosenGroup && chosenGroup.testRuns && chosenGroup.testRuns.length > 0;else noRuns">
                <p *ngFor="let run of chosenGroup.testRuns" (click)="setRun(run)" [ngClass]="{'highlighted': run.id == chosenRun.id }">{{run.name}}</p> 
                
                <hr>

            </div>

            <ng-template #noRuns>No runs :(</ng-template>            
            <p>
                <add-testrun [testGroup]="chosenGroup"></add-testrun>                
            </p>
        </div>


        <div *ngIf="chosenRun" class="col-6">
            <test-run [testRun]="chosenRun"></test-run>
        </div> 
                
         <div *ngIf="chosenTestCase" class="col-4">
            <test-case *ngIf="chosenTestCase" [testCase]="chosenTestCase"></test-case>
        </div>
    </div>
</div>
    
    